<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>404</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' type='text/css'>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/error.css">
</head>
<body>
<div class="container fh5co-container">
    <div class="row">
        <div class="col-md-12 text-center fh5co-404-text animate-box" data-animate-effect="fadeIn">
            <h2>403 Forbidden...</h2>
            <h2>Looks like you got lost</h2>
            <p><a href="/" class="btn btn-primary">Go back home</a></p>
        </div>
    </div>
</div>
</body>
</html>

